{% macro display_news(articles)%}
    {% for article in articles %}
    <div class="row">
        <div class="col p-3">
            <div class="card p-3">
                <img src="{{article.urlToImage}}" alt="" />
                <div class="card-body">
                    <h3 class="card-title">{{article.title}}</h3>
                    <p class="card-text lead">{{article.description}}</p>
                    <p class="card-text fs-4">{{article.content}}</p>
                    <p class="card-text text-center display-6">{{article.publishedAt}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endmacro %}
